.dots span {
  animation: blink 1.5s infinite;
  font-weight: bold;
  font-size: 2rem;
  color: #247c7c;
  opacity: 0;
}

.dots span:nth-child(1) { animation-delay: 0s; }
.dots span:nth-child(2) { animation-delay: 0.3s; }
.dots span:nth-child(3) { animation-delay: 0.6s; }

@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.order-card {
  transition: box-shadow 0.2s ease-in-out;
}
.order-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.order-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c3e50;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 20px;
  color: #888;
}

.no-orders {
  color: #999;
  text-align: center;
}

.order-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 5px solid #6c5ce7;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.order-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border-left-color: #341f97;
}

.order-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-arrow {
  font-size: 20px;
  color: #888;
}

.order-details {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.order-item {
  display: flex;
  gap: 15px;
  padding: 12px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #fafafa;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.product-info p {
  margin: 4px 0;
}

code2{
 color: #2c3e50;
}