.btn-group .btn {
    border-radius: 0;
  }
  .btn-group .btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .btn-group .btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    list-style-type: none;
    padding: 0;
  }
  
  .product-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
  ul li {
    height: 23rem;
    width: 20rem;
    border: 1px solid rgb(253, 248, 248);
    border-radius: 1rem;
    text-align: center;
    margin: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(55, 5, 5);
  }
  ul li :hover {
    opacity: 0.9;
    cursor: pointer;
  }
  .admin-panel {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  form input,
  form textarea,
  form button {
    margin: 5px 0;
    padding: 10px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 500px;
  }
  .description {
    font-size: small;
    color: rgb(197, 192, 185);
  }
  .price {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(176, 40, 40);
  }
  
  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(233, 155, 38);
  }